html{
	background:grey;
	}
table{
	border-collapse:collapse;
	margin:7% 5% 5% 37%;
	}
tr td{
	padding: 0 0 0 0;
	width:50px;
	height: 50px;
	}
.block1{
	background:#ffffff;
	border-bottom:7px solid black;
	border-right:7px solid black;
	}
.block2{
	background:#ffffff;
	border-bottom:7px solid black;
	border-right:7px solid black;
	border-left:7px solid black;
	}
.block3{
	background:#fff965;
	border-bottom:7px solid black;
	border-left:7px solid black;
	}
.block4{
	background:#ffffff;
	border-bottom:7px solid black;
	border-right:7px solid black;
	border-top:7px solid black;
	}
.block5{
	background:#fd5634;
	border:7px solid black;
	}
.block6{
	background:#fff965;
	border:7px solid black;
	border-right: none;
	}
.block8{
	background:#fff965;
	border-right:7px solid black;
	border-top:7px solid black;
	}
.block9{
	background:#ffffff;
	border:7px solid black;
	}
.block10{
	background:#ffffff;
	border:7px solid black;
	border-right: none;
	}
.block11{
	background:#292929;
	border:7px solid black;
	}
.block12{
	background:#ffffff;
	border:7px solid black;
	border-bottom: none;
	}
.block13{
	background:#ffffff;
	border:7px solid black;
	}
.block14{
	background:#ffffff;
	border:7px solid black;
	border-right: none;
	}
.block15{
	background:#0b4b86;
	border:7px solid black;
	border-right: none;
	}
.block16{
	background:#292929;
	border:7px solid black;
	}
.block17{
	background:#ffffff;
	}
.inv{
	background:grey;
	}
	
	