* {
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: "";
  clear: both;
  display: block; }

.header {
  font-family: "Montserrat";
  width: 1440px;
  height: 700px;
  background-image: url(../../img/header.jpg); }
  .header .header__span1 {
    display: inline-block;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    margin-top: 3.2%;
    margin-left: 17.3%; }
  .header .header__log {
    font-size: 14px;
    font-family: "Montserrat";
    color: white;
    font-weight: bold;
    text-decoration: none;
    float: right;
    margin-right: 17.5%;
    margin-top: 2.6%;
    border: 2px solid white;
    border-radius: 20px;
    padding: 7px 16px; }
  .header .header__sign {
    font-size: 14px;
    font-family: "Montserrat";
    color: white;
    font-weight: bold;
    text-decoration: none;
    float: right;
    margin-right: 1.3%;
    margin-top: 3.2%; }
  .header h1 {
    font-size: 52px;
    font-family: "Montserrat";
    color: white;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 40%;
    margin-top: 10%;
    margin-left: 30%; }
  .header .header__span2 {
    font-size: 24px;
    font-family: "Roboto";
    color: white;
    font-weight: 300;
    margin-top: 1.6%;
    display: block;
    margin-left: 36.2%;
    letter-spacing: 0.05px; }
  .header .header__par {
    font-size: 14px;
    font-family: "Montserrat";
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    background-color: #ff4e50;
    margin-left: 42%;
    width: 14%;
    padding: 10px 12px;
    border-radius: 20px;
    text-align: center;
    margin-top: 2.4%; }

.jcarousel {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 400px;
  margin-top: 2.6%;
  margin-left: 18.5%; }

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  left: -318500px; }

.jcarousel li {
  float: right; }

.jcarousel li {
  height: 350px; }

.jcarousel-prev {
  position: absolute;
  left: 7%;
  top: 38%; }

.jcarousel-next {
  position: absolute;
  left: 83%;
  top: 38%; }

.works {
  width: 1348px; }
  .works li {
    display: block;
    width: 300px;
    height: 400px;
    background-image: url(../../img/step1.png); }
  .works h2 {
    font-size: 22px;
    font-family: "Montserrat";
    color: #333333;
    font-weight: bold;
    margin-top: 7%;
    margin-left: 42.6%; }
  .works .step3 {
    margin-left: 1.2%; }
    .works .step3 li {
      background-image: url(../../img/step3.png); }
  .works .jcarousel .works__step {
    position: absolute;
    font-size: 10px;
    font-family: "Montserrat";
    color: white;
    background-color: #ff4e50;
    display: block;
    top: 56.9%;
    letter-spacing: 2px;
    left: 6.5%;
    text-align: center;
    padding: 4px 15px;
    border-radius: 12px; }
  .works .jcarousel h3 {
    position: absolute;
    font-size: 24px;
    font-family: "Montserrat";
    color: white;
    font-weight: bold;
    text-align: left;
    top: 66%;
    left: 6.2%; }
  .works .jcarousel .works__text {
    font-size: 14px;
    font-family: "Roboto";
    color: #cccccc;
    position: absolute;
    left: 6%;
    top: 83.2%;
    width: 259px;
    height: 45px; }
  .works .step2 {
    margin-left: 1.2%; }
    .works .step2 li {
      background-image: url(../../img/step2.png); }
    .works .step2 .works__step {
      top: 64.7%; }
    .works .step2 h3 {
      top: 73%; }

.partner {
  width: 1348px; }
  .partner h1 {
    font-size: 22px;
    font-family: "Montserrat";
    color: #333333;
    font-weight: bold;
    margin: 6.6% 0 0 38.4%; }
  .partner .partner__1 {
    position: relative;
    display: inline-block;
    margin: 2.3% 0 0 22.2%; }
    .partner .partner__1 .partner__face {
      width: 122px;
      height: 122px;
      background-image: url(../../img/sprite-part.png);
      border-radius: 100px;
      background-position-x: 0; }
    .partner .partner__1 .partner__icon {
      width: 36px;
      height: 36px;
      background-image: url(../../img/sprite-icon.png);
      background-position-x: 0;
      position: absolute;
      top: 55%;
      left: 70%; }
    .partner .partner__1 .partner__name {
      font-size: 14px;
      font-family: "Montserrat";
      color: #333333;
      font-weight: bold;
      margin: 15% 0 0 6%;
      display: block; }
    .partner .partner__1 .partner__op {
      font-size: 14px;
      font-family: "Roboto";
      color: #666666;
      display: block;
      position: absolute;
      top: 108%;
      left: -30%;
      width: 194px;
      text-align: center; }
  .partner .partner__2 {
    display: inline-block;
    position: relative;
    margin: 2.3% 0 0 8.5%; }
    .partner .partner__2 .partner__face {
      width: 122px;
      height: 122px;
      background-image: url(../../img/sprite-part.png);
      border-radius: 100px;
      background-position-x: 32.5%; }
    .partner .partner__2 .partner__icon {
      width: 36px;
      height: 36px;
      background-image: url(../../img/sprite-icon.png);
      background-position-x: 32.5%;
      position: absolute;
      top: 55%;
      left: 70%; }
    .partner .partner__2 .partner__name {
      font-size: 14px;
      font-family: "Montserrat";
      color: #333333;
      font-weight: bold;
      margin: 15% 0 0 6%;
      display: block; }
    .partner .partner__2 .partner__op {
      font-size: 14px;
      font-family: "Roboto";
      color: #666666;
      display: block;
      position: absolute;
      top: 108%;
      left: -30%;
      width: 194px;
      text-align: center; }
  .partner .partner__3 {
    display: inline-block;
    position: relative;
    margin: 2.3% 0 0 8.4%; }
    .partner .partner__3 .partner__face {
      width: 122px;
      height: 122px;
      background-image: url(../../img/sprite-part.png);
      border-radius: 100px;
      background-position-x: 66%; }
    .partner .partner__3 .partner__icon {
      width: 36px;
      height: 36px;
      background-image: url(../../img/sprite-icon.png);
      background-position-x: 65%;
      position: absolute;
      top: 55%;
      left: 70%; }
    .partner .partner__3 .partner__name {
      font-size: 14px;
      font-family: "Montserrat";
      color: #333333;
      font-weight: bold;
      margin: 15% 0 0 6%;
      display: block; }
    .partner .partner__3 .partner__op {
      font-size: 14px;
      font-family: "Roboto";
      color: #666666;
      display: block;
      position: absolute;
      top: 108%;
      left: -30%;
      width: 194px;
      text-align: center; }
  .partner .partner__4 {
    display: inline-block;
    position: relative;
    margin: 2.3% 0 0 8.4%; }
    .partner .partner__4 .partner__face {
      width: 122px;
      height: 122px;
      background-image: url(../../img/sprite-part.png);
      border-radius: 100px;
      background-position-x: 100%; }
    .partner .partner__4 .partner__icon {
      width: 36px;
      height: 36px;
      background-image: url(../../img/sprite-icon.png);
      background-position-x: 98%;
      position: absolute;
      top: 55%;
      left: 70%; }
    .partner .partner__4 .partner__name {
      font-size: 14px;
      font-family: "Montserrat";
      color: #333333;
      font-weight: bold;
      margin: 15% 0 0 6%;
      display: block; }
    .partner .partner__4 .partner__op {
      font-size: 14px;
      font-family: "Roboto";
      color: #666666;
      display: block;
      position: absolute;
      top: 108%;
      left: -30%;
      width: 194px;
      text-align: center; }
  .partner a {
    display: block;
    margin: 8.6% 0 0 46.4%;
    font-size: 14px;
    font-family: "Montserrat";
    color: #ff4e50;
    font-weight: bold;
    border: 2px solid;
    border-radius: 20px;
    width: 140px;
    padding: 0.7% 1.7% 0.7% 1.8%;
    text-decoration: none; }

.holiday {
  width: 1348px; }
  .holiday h1 {
    font-size: 22px;
    font-family: "Montserrat";
    color: #333333;
    font-weight: bold;
    margin: 7% 0 0 40.7%; }
  .holiday .grid {
    width: 960px;
    height: 970px;
    margin: 1.9% 0 0 17.8%; }
  .holiday .grid-item {
    width: 300px;
    height: 310px;
    float: left;
    border: 10px solid white;
    border-radius: 5px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    font-size: 22px;
    font-family: "Montserrat";
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 304px; }
  .holiday .grid-item--width2 {
    width: 620px; }
  .holiday .holiday__2 {
    margin-top: 7.7%; }
  .holiday span {
    font-size: 18px;
    font-family: "Roboto";
    color: #333333;
    display: block;
    margin-top: 2.5%;
    margin-left: 43%; }
  .holiday #search {
    font-size: 14px;
    font-family: "Roboto";
    color: #999999;
    text-align: left;
    padding: 0.7% 4.8% 0.6% 1%;
    margin: 2.7% 0 0 38.1%; }
  .holiday .submit {
    outline: none;
    border-radius: 50px;
    font-size: 14px;
    font-family: "Montserrat";
    color: white;
    padding: 0.8% 1.7% 0.8% 1.5%;
    margin: 0 0 0 0.5%;
    background-color: #ff4e50; }

.footer {
  width: 1348px;
  border-top: 4px solid #ff4e50;
  margin-top: 7.2%; }
  .footer .footer__span1 {
    font-size: 16px;
    font-family: "Montserrat";
    color: #ff4e50;
    float: left;
    font-weight: bold;
    margin: 2.7% 0 0 18.4%;
    letter-spacing: 1px; }
  .footer ul {
    float: left;
    font-size: 14px;
    font-family: "Montserrat";
    color: #333333;
    font-weight: bold;
    margin: 2.7% 0 0 7.1%; }
  .footer li {
    font-size: 14px;
    font-family: "Roboto";
    color: #858585;
    line-height: 1.714;
    list-style: none; }
  .footer li:first-child {
    margin-top: 16%; }
  .footer .footer__span2 {
    float: left;
    font-size: 14px;
    font-family: "Montserrat";
    color: #333333;
    display: block;
    font-weight: bold;
    margin: 2.7% 0 0 6.9%; }
  .footer img {
    margin: 3% 0 0 27.5%; }

@media (max-width: 736px) and (min-width: 450px) {
  body {
    width: 768px;
    margin: 0 auto; }

  .header {
    font-family: "Montserrat";
    width: 768px;
    background-position-x: 50%;
    height: 700px;
    background-image: url(../../img/header.jpg); }
    .header .header__span1 {
      display: inline-block;
      font-size: 20px;
      font-family: "Montserrat";
      font-weight: bold;
      color: white;
      letter-spacing: 1px;
      margin-top: 5.8%;
      margin-left: 6.3%; }
    .header .header__log {
      font-size: 14px;
      font-family: "Montserrat";
      color: white;
      font-weight: bold;
      text-decoration: none;
      float: right;
      margin-right: 6.6%;
      margin-top: 4.9%;
      border: 2px solid white;
      border-radius: 20px;
      padding: 7px 16px; }
    .header .header__sign {
      font-size: 14px;
      font-family: "Montserrat";
      color: white;
      font-weight: bold;
      text-decoration: none;
      float: right;
      margin-right: 2.4%;
      margin-top: 6%; }
    .header h1 {
      font-size: 52px;
      font-family: "Montserrat";
      color: white;
      font-weight: bold;
      text-align: center;
      display: block;
      width: 64%;
      margin-top: 19%;
      margin-left: 17.7%; }
    .header .header__span2 {
      font-size: 24px;
      font-family: "Roboto";
      color: white;
      font-weight: 300;
      margin-top: 3%;
      display: block;
      margin-left: 23.8%;
      letter-spacing: 0.05px; }
    .header .header__par {
      font-size: 14px;
      font-family: "Montserrat";
      color: white;
      font-weight: bold;
      text-decoration: none;
      display: block;
      background-color: #ff4e50;
      margin-left: 35%;
      width: 26.5%;
      padding: 10px 12px;
      border-radius: 20px;
      text-align: center;
      margin-top: 4.4%; }

  .jcarousel {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 235px;
    height: 400px;
    margin-top: 4.6%;
    margin-left: 1.4%; }

  .jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    left: -318500px; }

  .jcarousel li {
    float: right; }

  .jcarousel li {
    height: 350px; }

  .jcarousel-prev {
    position: absolute;
    left: 9%;
    top: 10%; }

  .jcarousel-next {
    position: absolute;
    left: 79%;
    top: 10%; }

  .works {
    width: 768px; }
    .works li {
      display: block;
      width: 300px;
      height: 400px;
      background-image: url(../../img/step1.png); }
    .works h2 {
      font-size: 22px;
      font-family: "Montserrat";
      color: #333333;
      font-weight: bold;
      margin-top: 12.1%;
      margin-left: 31.7%; }
    .works .step3 {
      margin-left: 2.2%; }
      .works .step3 li {
        background-image: url(../../img/step3.png); }
    .works .jcarousel .works__step {
      position: absolute;
      font-size: 10px;
      font-family: "Montserrat";
      color: white;
      background-color: #ff4e50;
      display: block;
      top: 52.9%;
      letter-spacing: 2px;
      left: 7%;
      text-align: center;
      padding: 4px 15px;
      border-radius: 12px; }
    .works .jcarousel h3 {
      position: absolute;
      font-size: 24px;
      font-family: "Montserrat";
      color: white;
      font-weight: bold;
      text-align: left;
      top: 61.8%;
      left: 7.6%; }
    .works .jcarousel .works__text {
      font-size: 14px;
      font-family: "Roboto";
      color: #cccccc;
      position: absolute;
      left: 8%;
      top: 79.2%;
      width: 190px;
      height: 75px; }
    .works .step2 {
      margin-left: 2.2%; }
      .works .step2 li {
        background-image: url(../../img/step2.png); }
      .works .step2 .works__step {
        top: 64.7%; }
      .works .step2 h3 {
        top: 73%; }
      .works .step2 .works__text {
        top: 81.2%; }

  .partner {
    width: 768px; }
    .partner h1 {
      font-size: 22px;
      font-family: "Montserrat";
      color: #333333;
      font-weight: bold;
      margin: 12% 0 0 23.5%; }
    .partner .partner__1 {
      position: relative;
      display: inline-block;
      margin: 3.9% 0 0 25.2%; }
      .partner .partner__1 .partner__face {
        width: 122px;
        height: 122px;
        background-image: url(../../img/sprite-part.png);
        border-radius: 100px;
        background-position-x: 0; }
      .partner .partner__1 .partner__icon {
        width: 36px;
        height: 36px;
        background-image: url(../../img/sprite-icon.png);
        background-position-x: 0;
        position: absolute;
        top: 55%;
        left: 70%; }
      .partner .partner__1 .partner__name {
        font-size: 14px;
        font-family: "Montserrat";
        color: #333333;
        font-weight: bold;
        margin: 15% 0 0 6%;
        display: block; }
      .partner .partner__1 .partner__op {
        font-size: 14px;
        font-family: "Roboto";
        color: #666666;
        display: block;
        position: absolute;
        top: 108%;
        left: -30%;
        width: 194px;
        text-align: center; }
    .partner .partner__2 {
      display: inline-block;
      position: relative;
      margin: 2.3% 0 0 16.9%; }
      .partner .partner__2 .partner__face {
        width: 122px;
        height: 122px;
        background-image: url(../../img/sprite-part.png);
        border-radius: 100px;
        background-position-x: 32.5%; }
      .partner .partner__2 .partner__icon {
        width: 36px;
        height: 36px;
        background-image: url(../../img/sprite-icon.png);
        background-position-x: 32.5%;
        position: absolute;
        top: 55%;
        left: 70%; }
      .partner .partner__2 .partner__name {
        font-size: 14px;
        font-family: "Montserrat";
        color: #333333;
        font-weight: bold;
        margin: 15% 0 0 6%;
        display: block; }
      .partner .partner__2 .partner__op {
        font-size: 14px;
        font-family: "Roboto";
        color: #666666;
        display: block;
        position: absolute;
        top: 108%;
        left: -30%;
        width: 194px;
        text-align: center; }
    .partner .partner__3 {
      display: inline-block;
      position: relative;
      margin: 13% 0 0 25.5%; }
      .partner .partner__3 .partner__face {
        width: 122px;
        height: 122px;
        background-image: url(../../img/sprite-part.png);
        border-radius: 100px;
        background-position-x: 66%; }
      .partner .partner__3 .partner__icon {
        width: 36px;
        height: 36px;
        background-image: url(../../img/sprite-icon.png);
        background-position-x: 65%;
        position: absolute;
        top: 55%;
        left: 70%; }
      .partner .partner__3 .partner__name {
        font-size: 14px;
        font-family: "Montserrat";
        color: #333333;
        font-weight: bold;
        margin: 15% 0 0 6%;
        display: block; }
      .partner .partner__3 .partner__op {
        font-size: 14px;
        font-family: "Roboto";
        color: #666666;
        display: block;
        position: absolute;
        top: 108%;
        left: -30%;
        width: 194px;
        text-align: center; }
    .partner .partner__4 {
      display: inline-block;
      position: relative;
      margin: 2.3% 0 0 17.2%; }
      .partner .partner__4 .partner__face {
        width: 122px;
        height: 122px;
        background-image: url(../../img/sprite-part.png);
        border-radius: 100px;
        background-position-x: 100%; }
      .partner .partner__4 .partner__icon {
        width: 36px;
        height: 36px;
        background-image: url(../../img/sprite-icon.png);
        background-position-x: 98%;
        position: absolute;
        top: 55%;
        left: 70%; }
      .partner .partner__4 .partner__name {
        font-size: 14px;
        font-family: "Montserrat";
        color: #333333;
        font-weight: bold;
        margin: 15% 0 0 6%;
        display: block; }
      .partner .partner__4 .partner__op {
        font-size: 14px;
        font-family: "Roboto";
        color: #666666;
        display: block;
        position: absolute;
        top: 108%;
        left: -30%;
        width: 194px;
        text-align: center; }
    .partner a {
      display: block;
      margin: 14.9% 0 0 37.4%;
      font-size: 14px;
      font-family: "Montserrat";
      color: #ff4e50;
      font-weight: bold;
      border: 2px solid;
      border-radius: 20px;
      width: 140px;
      padding: 1.4% 2.7% 1.3% 3.5%;
      text-decoration: none; }

  .holiday {
    width: 768px; }
    .holiday h1 {
      font-size: 22px;
      font-family: "Montserrat";
      color: #333333;
      font-weight: bold;
      margin: 12.4% 0 0 27.8%; }
    .holiday .grid {
      width: 960px;
      height: 970px;
      margin: 2.9% 0 0 0%; }
    .holiday .grid-item {
      width: 236px;
      height: 310px;
      float: left;
      border: 10px solid white;
      border-radius: 5px;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      font-size: 22px;
      font-family: "Montserrat";
      color: white;
      font-weight: bold;
      text-align: center;
      line-height: 304px; }
    .holiday .grid-item--width2 {
      width: 492px; }
    .holiday .holiday__2 {
      margin-top: 13.7%; }
    .holiday span {
      font-size: 18px;
      font-family: "Roboto";
      color: #333333;
      display: block;
      margin-top: 4.1%;
      margin-left: 31.7%; }
    .holiday #search {
      font-size: 14px;
      font-family: "Roboto";
      color: #999999;
      text-align: left;
      padding: 1.3% 8.2% 1.2% 1.8%;
      margin: 4.8% 0 0 23.2%; }
    .holiday .submit {
      outline: none;
      border-radius: 50px;
      font-size: 14px;
      font-family: "Montserrat";
      color: white;
      padding: 1.5% 2.7% 1.2% 3.2%;
      margin: 4% 0 0 0.5%;
      background-color: #ff4e50; }

  .footer {
    width: 768px;
    border-top: 4px solid #ff4e50;
    margin-top: 7.4%; }
    .footer .footer__span1 {
      font-size: 16px;
      font-family: "Montserrat";
      color: #ff4e50;
      float: left;
      font-weight: bold;
      margin: 4.7% 0 0 5%;
      letter-spacing: 1px; }
    .footer ul {
      float: left;
      font-size: 14px;
      font-family: "Montserrat";
      color: #333333;
      font-weight: bold;
      margin: 4.7% 0 0 10.6%; }
    .footer li {
      font-size: 14px;
      font-family: "Roboto";
      color: #858585;
      line-height: 172%;
      list-style: none; }
    .footer li:first-child {
      margin-top: 15%; }
    .footer .footer__span2 {
      float: left;
      font-size: 14px;
      font-family: "Montserrat";
      color: #333333;
      display: block;
      font-weight: bold;
      margin: 4.7% 0 0 13.5%; }
    .footer img {
      margin: -1.8% 0 0 37.1%; } }
@media (max-width: 449px) {
  body {
    width: 320px;
    margin: 0 auto; }

  .header {
    font-family: "Montserrat";
    position: relative;
    width: 320px;
    background-position-x: 50%;
    height: 540px;
    background-image: url(../../img/header-m.jpg); }
    .header .header__span1 {
      display: inline-block;
      font-size: 20px;
      font-family: "Montserrat";
      font-weight: bold;
      color: white;
      letter-spacing: 1px;
      margin-top: 53.5%;
      margin-left: 21.5%; }
    .header .header__log {
      position: absolute;
      top: 0.6%;
      left: 45.5%;
      font-size: 14px;
      font-family: "Montserrat";
      color: white;
      font-weight: bold;
      text-decoration: none;
      margin-right: 6.6%;
      margin-top: 4.9%;
      border: 2px solid white;
      border-radius: 20px;
      padding: 7px 16px; }
    .header .header__sign {
      position: absolute;
      top: 1.4%;
      left: 25.8%;
      font-size: 14px;
      font-family: "Montserrat";
      color: white;
      font-weight: bold;
      text-decoration: none;
      margin-right: 2.4%;
      margin-top: 6%; }
    .header h1 {
      font-size: 30.015px;
      font-family: "Montserrat";
      color: white;
      font-weight: bold;
      text-align: center;
      display: block;
      width: 100%;
      margin-top: 8.1%;
      margin-left: 0%; }
    .header .header__span2 {
      font-size: 18.009px;
      font-family: "Roboto";
      color: white;
      font-weight: 300;
      margin-top: 3%;
      display: block;
      margin-left: 12.8%;
      letter-spacing: 0.05px;
      width: 74%;
      text-align: center; }
    .header .header__par {
      font-size: 14px;
      font-family: "Montserrat";
      color: white;
      font-weight: bold;
      text-decoration: none;
      display: block;
      background-color: #ff4e50;
      margin-left: 7%;
      width: 78.5%;
      padding: 10px 12px;
      border-radius: 20px;
      text-align: center;
      margin-top: 4.4%; }

  .jcarousel {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 240px;
    margin-top: 4.6%;
    margin-left: 3%; }

  .jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    left: -318500px; }

  .jcarousel li {
    float: right; }

  .jcarousel li {
    height: 350px; }

  .jcarousel-prev {
    display: none;
    position: absolute;
    left: 9%;
    top: 10%; }

  .jcarousel-next {
    display: none;
    position: absolute;
    left: 79%;
    top: 10%; }

  .works {
    width: 320px; }
    .works li {
      display: block;
      width: 300px;
      height: 240px;
      background-image: url(../../img/step1-m.png); }
    .works h2 {
      font-size: 22px;
      font-family: "Montserrat";
      color: #333333;
      font-weight: bold;
      margin-top: 10.2%;
      margin-left: 4.8%; }
    .works .step3 {
      margin-top: 2.2%;
      margin-left: 3.2%; }
      .works .step3 li {
        background-image: url(../../img/step3-m.png); }
    .works .jcarousel .works__step {
      position: absolute;
      font-size: 10px;
      font-family: "Montserrat";
      color: white;
      background-color: #ff4e50;
      display: block;
      top: 28.3%;
      letter-spacing: 2px;
      left: 7%;
      text-align: center;
      padding: 4px 15px;
      border-radius: 12px; }
    .works .jcarousel h3 {
      position: absolute;
      font-size: 24px;
      font-family: "Montserrat";
      color: white;
      font-weight: bold;
      text-align: left;
      top: 43.1%;
      left: 6.6%; }
    .works .jcarousel .works__text {
      font-size: 14px;
      font-family: "Roboto";
      color: #cccccc;
      position: absolute;
      left: 6.6%;
      top: 72.6%;
      width: 262px;
      height: 75px; }
    .works .step2 {
      margin-left: 2.7%;
      margin-top: 2%; }
      .works .step2 li {
        background-image: url(../../img/step2-m.png); }
      .works .step2 .works__step {
        top: 41.7%; }
      .works .step2 h3 {
        top: 56%; }
      .works .step2 .works__text {
        top: 72.2%; }

  .partner {
    width: 320px; }
    .partner h1 {
      font-size: 22px;
      font-family: "Montserrat";
      color: #333333;
      font-weight: bold;
      margin: 9.4% 0 0 2.5%;
      text-align: center;
      width: 298px; }
    .partner .partner__1 {
      position: relative;
      display: inline-block;
      margin: 3.9% 0 0 31%; }
      .partner .partner__1 .partner__face {
        width: 122px;
        height: 122px;
        background-image: url(../../img/sprite-part.png);
        border-radius: 100px;
        background-position-x: 0; }
      .partner .partner__1 .partner__icon {
        width: 36px;
        height: 36px;
        background-image: url(../../img/sprite-icon.png);
        background-position-x: 0;
        position: absolute;
        top: 55%;
        left: 70%; }
      .partner .partner__1 .partner__name {
        font-size: 14px;
        font-family: "Montserrat";
        color: #333333;
        font-weight: bold;
        margin: 15% 0 0 6%;
        display: block; }
      .partner .partner__1 .partner__op {
        font-size: 14px;
        font-family: "Roboto";
        color: #666666;
        display: block;
        position: absolute;
        top: 108%;
        left: -30%;
        width: 194px;
        text-align: center; }
    .partner .partner__2 {
      display: inline-block;
      position: relative;
      margin: 22.3% 0 0 30.9%; }
      .partner .partner__2 .partner__face {
        width: 122px;
        height: 122px;
        background-image: url(../../img/sprite-part.png);
        border-radius: 100px;
        background-position-x: 32.5%; }
      .partner .partner__2 .partner__icon {
        width: 36px;
        height: 36px;
        background-image: url(../../img/sprite-icon.png);
        background-position-x: 32.5%;
        position: absolute;
        top: 55%;
        left: 70%; }
      .partner .partner__2 .partner__name {
        font-size: 14px;
        font-family: "Montserrat";
        color: #333333;
        font-weight: bold;
        margin: 15% 0 0 6%;
        display: block; }
      .partner .partner__2 .partner__op {
        font-size: 14px;
        font-family: "Roboto";
        color: #666666;
        display: block;
        position: absolute;
        top: 108%;
        left: -30%;
        width: 194px;
        text-align: center; }
    .partner .partner__3 {
      display: inline-block;
      position: relative;
      margin: 32% 0 0 30.5%; }
      .partner .partner__3 .partner__face {
        width: 122px;
        height: 122px;
        background-image: url(../../img/sprite-part.png);
        border-radius: 100px;
        background-position-x: 66%; }
      .partner .partner__3 .partner__icon {
        width: 36px;
        height: 36px;
        background-image: url(../../img/sprite-icon.png);
        background-position-x: 65%;
        position: absolute;
        top: 55%;
        left: 70%; }
      .partner .partner__3 .partner__name {
        font-size: 14px;
        font-family: "Montserrat";
        color: #333333;
        font-weight: bold;
        margin: 15% 0 0 6%;
        display: block; }
      .partner .partner__3 .partner__op {
        font-size: 14px;
        font-family: "Roboto";
        color: #666666;
        display: block;
        position: absolute;
        top: 108%;
        left: -30%;
        width: 194px;
        text-align: center; }
    .partner .partner__4 {
      display: inline-block;
      position: relative;
      margin: 22% 0 0 30.2%; }
      .partner .partner__4 .partner__face {
        width: 122px;
        height: 122px;
        background-image: url(../../img/sprite-part.png);
        border-radius: 100px;
        background-position-x: 100%; }
      .partner .partner__4 .partner__icon {
        width: 36px;
        height: 36px;
        background-image: url(../../img/sprite-icon.png);
        background-position-x: 98%;
        position: absolute;
        top: 55%;
        left: 70%; }
      .partner .partner__4 .partner__name {
        font-size: 14px;
        font-family: "Montserrat";
        color: #333333;
        font-weight: bold;
        margin: 15% 0 0 6%;
        display: block; }
      .partner .partner__4 .partner__op {
        font-size: 14px;
        font-family: "Roboto";
        color: #666666;
        display: block;
        position: absolute;
        top: 108%;
        left: -30%;
        width: 194px;
        text-align: center; }
    .partner a {
      display: block;
      margin: 22.2% 0 0 5.5%;
      font-size: 14px;
      font-family: "Montserrat";
      color: #ff4e50;
      font-weight: bold;
      border: 2px solid;
      border-radius: 20px;
      width: 145px;
      padding: 2.4% 18.7% 3.3% 22.5%;
      text-decoration: none; }

  .holiday {
    width: 320px; }
    .holiday h1 {
      text-align: center;
      font-size: 22px;
      font-family: "Montserrat";
      color: #333333;
      font-weight: bold;
      margin: 10.7% 0 0 -0.2%; }
    .holiday .grid {
      width: 300px;
      height: 900px;
      margin: 3.9% 0 0 3%; }
    .holiday .grid-item {
      height: 120px;
      width: 280px;
      float: left;
      border: 5px solid white;
      border-radius: 5px;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      font-size: 22px;
      font-family: "Montserrat";
      color: white;
      font-weight: bold;
      text-align: center;
      line-height: 110px; }
    .holiday .grid-item--width2 {
      width: 280px; }
    .holiday .holiday__2 {
      margin-top: 11%; }
    .holiday span {
      font-size: 18px;
      font-family: "Roboto";
      color: #333333;
      display: block;
      margin-top: 3.1%;
      margin-left: 5.6%; }
    .holiday #search {
      font-size: 14px;
      font-family: "Roboto";
      color: #999999;
      text-align: left;
      padding: 3.2% 32.5% 2.8% 4.1%;
      margin: 4.8% 0 0 5.5%; }
    .holiday .submit {
      outline: none;
      border-radius: 50px;
      font-size: 14px;
      font-family: "Montserrat";
      color: white;
      padding: 3.6% 25.7% 3.2% 26.2%;
      margin: 2% 0 0 5%;
      background-color: #ff4e50; }

  .footer {
    width: 320px;
    border-top: 4px solid #ff4e50;
    margin-top: 12.4%; }
    .footer .footer__span1 {
      font-size: 16px;
      font-family: "Montserrat";
      color: #ff4e50;
      float: left;
      font-weight: bold;
      margin: 4.8% 0 0 27%;
      letter-spacing: 1px; }
    .footer ul {
      position: relative;
      text-align: center;
      float: left;
      font-size: 14px;
      font-family: "Montserrat";
      color: #333333;
      font-weight: bold;
      margin: 3.5% 0 0 38.6%; }
    .footer li {
      position: absolute;
      top: 123%;
      margin-top: 11%;
      float: left;
      font-size: 14px;
      font-family: "Roboto";
      color: #858585;
      line-height: 0;
      list-style: none; }
    .footer li:first-child {
      left: -93%;
      margin-top: 11%; }
    .footer .li2 {
      left: -17%; }
    .footer .li3 {
      left: 85%; }
    .footer .li4 {
      left: 156%; }
    .footer .footer__span2 {
      float: left;
      font-size: 14px;
      font-family: "Montserrat";
      color: #333333;
      display: block;
      font-weight: bold;
      margin: 19% 0 0 -19.5%; }
    .footer img {
      margin: 5.2% 0 0 32.5%; } }

/*# sourceMappingURL=style.css.map */
