$m_w:1160px; 
$border:1px solid black;



.clearfix:after {
	content: "";
	clear: both;
	display: block;
	}
body{
	font-family:sans-serif, Arial;
	width:1920px;
	}
.top_div{
	margin-left:380px;
		header{
			margin-top: 25px;
			width:$m_w;
		}
		#search{
			color:#5d5f61;
			width: 225px;
			height: 38px;
			display:inline;
			background-color:#35383c;
			border:$border;
			position:absolute;
			top: 6px;
			left: 909px;
			padding-left: 15px;
		}
		.icon{
			position:absolute;
			z-index:2;
			left: 1124px;
			top: 20px;

		}
		.menu{
			background-color:#2a2d32;
			width:$m_w;
			position:relative;
			margin-top: 35px;
		}
}
.header_ul{
	float:right;
    list-style: none;
		li{
			margin-left:10px;
			float:left;
			width:20px;
			height:20px;
			background-repeat:no-repeat;
		}
		.header_li1{
			background-image:url(../../img/face-n.png);
		}
		.header_li2{
			background-image:url(../../img/twit-n.png);
		}
		.header_li3{
			background-image:url(../../img/rs-n.png);
		}
		.header_li4{
			background-image:url(../../img/in-n.png);
		}
		.header_li5{
			background-image:url(../../img/sk-n.png);
		}
		.header_li1:hover{
			background-image:url(../../img/face-a.png);
		}
		.header_li2:hover{
			background-image:url(../../img/twit-a.png);
		}
		.header_li3:hover{
			background-image:url(../../img/rs-a.png);
		}
		.header_li4:hover{
			background-image:url(../../img/in-a.png);
		}
		.header_li5:hover{
			background-image:url(../../img/sk-a.png);
		}
}
.menu_ul{
	float:left;
	width:600px;
	padding-left: 0px;
	margin:0;
	list-style: none;
		li:hover{
			a{
				color:#f4b60d;
			}
		}
		li:active{
			background-color:#248cec;
		}
		li{
			border-left:$border;
			border-right:$border;
			text-align:center;
			width:115px;
			height:56px;
			float:left;
				a{
					color:white;
					padding-top: 20px;
					display:block;
					text-decoration:none;
					font-size: 15px;
				}
		}
}
.jcarousel {
	margin-top: 40px;
    position: relative;
    overflow: hidden;
	width:$m_w;
	margin-left: 0;
    margin-right: 0;
		ul {
			width: 20000em;
			position: relative;
			list-style: none;
			margin: 0;
			padding: 0;
			left: -318850px;
			}
			li {
				
				float: right;
			}
			li {
				height: 470px;
			}
}
.jcarousel-prev{
	position:absolute;
	left: 0px;
    top: 50%;
}
.jcarousel-next{
	position:absolute;
	left:97.5%;
	top: 50%;
}

.menu_inf{
	   list-style: none;
		margin-top: 0px;

		li{
			float:left;
			background-image: url(../../img/strelka_s.jpg);
			background-repeat: no-repeat;
			margin-left: 78px;
			background-position-y: 5px;
			background-position-x: 89px;
			width: 100px;
				a{
			text-decoration:none;
			color:black;				
				}
    		}
		li:hover{
			background-image: url(../../img/strelka.jpg);
			a{
				color:#248cec;
			}
		}	
		.menu_inf2{
			margin-left: 304px;
		}
		.menu_inf3{
			margin-left: 300px;
		}
}
.menu_div{
	padding-left:380px;
	padding-right:380px;
	width:$m_w;
	height:500px;
	background-color:#2a2d32;
		h1{
			font-size:24px;
			color:white;
			padding-top: 40px;
			padding-left: 40px;
			padding-bottom: 30px;
		}
		ul{
			padding-left: 0px;
			list-style: none;
				li{
					float:left;
					position:relative;
					margin-right: 30px;
					}
				li:hover{
					.menu_add{
						position:absolute;
						left:0px;
						top:0px;
					}
					span{
						color:#f4b60d;
					}
				}
				.menu_add{
					position:absolute;
					left:-5000000px;
					top:-50000000px;
				}
				span{
					display:block;
					color:white;
					padding-top: 30px;
					padding-left: 60px;
				}
				a{
					text-decoration:none;
				}
		}
}
.main_div{
	padding-left:380px;
	padding-right:380px;
	width:$m_w;
	background-color:#f7f7f7;
		.main_img1{
			position:absolute;
			left:0px;
			top: 75px
		}
		.main_img2{
			position:absolute;
			top: 258px;
			left:0px;
		}
		.main_left_bar{
			float:left;
			position:relative;
			margin-bottom: 30px;
			.main_news1{
				margin-bottom: 30px;
				width:380px;
				height:150px;
				padding-left: 213px;

					h2{
						display:inline;
						font-size: 16px;
					}
					h1{
						font-size: 24px;
					}
					h2:hover{
						color:#248cec;
					}
					span{
						padding-top: 30px;
						display:inline-block;
						font-size: 13px;
						font-family: "Arial";
						color: rgb( 138, 138, 138 );
						line-height: 1.538;
					}
			}
			
		}
		.main_right_bar{
			float:right;
			width:560px;
			h1{
				margin-left: 40px;
			}
			ul{
				list-style:none;
			}
			h2{
				margin-top: 0px;
				margin-bottom: 0px;
				padding-left: 50px;
				padding-top: 12px;
				font-size: 13px;
				width: 560px;
				height: 39px;
				background-image:url(../../img/tab_off.jpg);
				background-repeat:no-repeat;
			}
			span{
				display:none;
				padding-top: 15px;
				padding-left: 40px;
				padding-bottom: 40px;
				font-size: 13px;
				font-family: "Arial";
				color: rgb( 138, 138, 138 );
				line-height: 1.538;
			}
			li:hover{
				h2{
				background-image:url(../../img/tab_on.jpg);
				}
				span{
					display:block;
					}
			}
		}
}
.spon{
	margin-left:380px;
	margin-top: 50px;
	width:$m_w;
	margin-bottom: 90px;
}

footer{
	padding-left:380px;
	padding-right:380px;
	background-color:#2a2d32;
	width:$m_w;
		.block{
		display:inline-block;
			ul{
				padding:0;
				list-style:none;
				margin-right: 40px;
				li{
					width:240px;
					border-bottom:1px solid #393c40;
				}
				li:hover{
					a{
						color:#2582da;
					}
				}
			}
			a{
				text-decoration:none;
				font-size: 13px;
				font-family: "Arial";
				color: rgba( 255, 255, 255, 0.302 );
				line-height: 2.769;
				text-align: left;
			}
			h3{
				color:#ffffff;
				margin-top: 63px;
				margin-bottom: 40px;
			}
		}
}
